  
  .modal {
    background-color: #fff;
    padding: 2em 3em;
    text-align: center;
    border-radius: 0.5em;
    display: none;
  }
  .modal.is-active {
    display: block;
  }
  
 
  
 
  
  .wrap p {
    margin-bottom: 2em;
    color: #666;
  }
  .wrap {
      position: relative;
  }
  
  
  